# Ignorer les dépendances
node_modules/

# Ignorer les fichiers de configuration locaux
.env
.DS_Store

# Ignorer les fichiers de l'IDE/éditeur
.vscode/
settings.json

# Ignorer les fichiers de cache ou de logs
*.log

# Ignorer les vidéos (hébergées sur S3)
*.mp4
*.mov
*.avi
*.webm

# Ignorer les fichiers générés par TailwindCSS
/public/output.css